<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">

	<title>Degree Audit</title>

	<!-- Core -->
	<script src="./lib/onsenui/js/onsenui.js"></script>
	<script src="./lib/angular/angular-1.5.8.min.js"></script>
	<script src="./lib/onsenui/js/angular-onsenui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- JS -->
	<script src="lib/js/json2.js"></script>
	<script src="lib/js/json_parse.js"></script>

	<!-- Gridster -->
	<link rel="stylesheet" href="lib/angular/angular-gridster.min.css"/>
	<script src="lib/angular/jquery.resize.js"></script>
	<script src="lib/angular/angular-gridster.min.js"></script>

    <!-- Google API -->
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>

    <!-- App Files -->
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/factories.js"></script>

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body ng-app="myApp">
	<ons-navigator var="nav">
		<div ng-controller="MainCtrl"></div>
	</ons-navigator>

    <ons-template id="principal.html">
		<ons-splitter var="menu" ng-controller="Menu as M">
			<ons-splitter-side side="left" width="220px" collapse>
				<ons-page>
					<ons-list>
						<ons-list-item></ons-list-item>
						<ons-list-item
						 ng-click="M.load('home.html')" tappable>
						 	<ons-icon icon="ion-alert-circled"></ons-icon>
						 	&nbsp;&nbsp;&nbsp;&nbsp;
							Save Changes
						</ons-list-item>
						<ons-list-item></ons-list-item>
						<ons-list-item
						 ng-click="M.load('home.html')" tappable>
						 	<ons-icon icon="ion-university"></ons-icon>
						 	&nbsp;&nbsp;&nbsp;&nbsp;
							Degree Plans
						</ons-list-item>
						<ons-list-item
						 ng-click="M.load('html/semester.html')" tappable>
						 	<ons-icon icon="ion-calendar"></ons-icon>
						 	&nbsp;&nbsp;&nbsp;&nbsp;
							Master Plan
						</ons-list-item>
						<ons-list-item
						 ng-click="M.load('html/courses.html')" tappable>
						 	<ons-icon icon="ion-ios-bookmarks"></ons-icon>
						 	&nbsp;&nbsp;&nbsp;&nbsp;
							All Classes
						</ons-list-item>
						<ons-list-item></ons-list-item>
						<ons-list-item
						 ng-click="M.load('html/help.html')" tappable>
						 	<ons-icon icon="ion-help-buoy"></ons-icon>
						 	&nbsp;&nbsp;&nbsp;&nbsp;
							Help
						</ons-list-item>
						<ons-list-item
						 ng-click="M.load('html/logout.html')" tappable>
						 	<ons-icon icon="ion-android-exit"></ons-icon>
						 	&nbsp;&nbsp;&nbsp;&nbsp;
							Logout
						</ons-list-item>
					</ons-list>
				</ons-page>
			</ons-splitter-side>
			<ons-splitter-content id="content" page="html/login.html"></ons-splitter-content>
		</ons-splitter>
    </ons-template>
</body>
</html>
