<ons-page ng-controller="CoursesCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left" ng-switch="backButton">
			<div ng-switch-when="false">
				<ons-toolbar-button ng-click="menu.left.open()">
					<ons-icon icon="md-menu"></ons-icon>
            	</ons-toolbar-button>
        	</div>
        	<div ng-switch-when="true">
        		<ons-back-button>
        			Cancel
        		</ons-back-button>
        	</div>
		</div>
		<div class="center">
			All Classes
		</div>
	</ons-toolbar>

	<ons-row>
	<ons-list>
		<ons-row>
		<ons-list-item
			class="item"
			modifier="chevron"
			ons-lazy-repeat="CourseDelegate"
			ng-click="action(course)"
			tappable>
			<ons-col width="125px">
				{{ abbr }}
			</ons-col>
			<ons-col width="100px">
				{{ hours }} hr{{ pl }}
			</ons-col>
			<ons-col>
				{{ name }}
			</ons-col>
		</ons-list-item>
		</ons-row>
	</ons-list>
	</ons-row>
</ons-page>