<ons-page ng-controller="CoursesCtrl">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.left.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			All Classes
		</div>
	</ons-toolbar>

	<ons-row>
	<ons-list>
		<ons-row>
		<ons-list-item
			class="item"
			modifier="chevron"
			ons-lazy-repeat="CourseDelegate"
			ng-click="editCourse(course)"
			tappable>
			<ons-col width="125px">
				{{ abbr }}
			</ons-col>
			<ons-col width="100px">
				{{ hours }} hr{{ pl }}
			</ons-col>
			<ons-col>
				{{ name }}
			</ons-col>
		</ons-list-item>
		</ons-row>
	</ons-list>
	</ons-row>
</ons-page>