<ons-page ng-controller="CourseCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-back-button ng-click="save()">Done</ons-back-button>
		</div>
		<div class="center">
			Edit Course
		</div>
	</ons-toolbar>

	<div style="text-align: center; margin-top: 30px;">
		<p>
			<ons-input ng-model="course.abbr" placeholder="Abbreviation"
				float modifier="underbar" style="width: 50%;"></ons-input>
		</p>
		<p>
			<ons-input ng-model="course.name" placeholder="Course Name"
				float modifier="underbar" style="width: 50%;"></ons-input>
		</p>
		<p>
			Hours: {{ course.hours }}
			<ons-range style="width: 50%;" ng-model="course.hours" min="1" max="10" step="1"></ons-range>
		</p>
		<p>
			<ons-button style="width: 25%;" ng-click="save()" modifier="bBlue">Save</ons-button>
			<ons-button style="width: 25%;" ng-click="close()" modifier="bOrange">Cancel</ons-button>
		</p>
	</div>
</ons-page>