<ons-page ng-controller="CoursesCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left" ng-switch="backButton">
			<div ng-switch-when="false">
				<ons-toolbar-button ng-click="menu.left.open()">
					<ons-icon icon="md-menu"></ons-icon>
            	</ons-toolbar-button>
        	</div>
        	<div ng-switch-when="true">
        		<ons-back-button>
        			Cancel
        		</ons-back-button>
        	</div>
		</div>
		<div class="center">
			All Classes
		</div>
	</ons-toolbar>

	<ons-list>
		<ons-list-item
		 modifier="chevron"
		 ng-repeat="course in courses"
		 ng-click="action(course.ID)"
		 tappable>
			<ons-col width="125px">
				{{ course.abbr }}
			</ons-col>
			<ons-col width="100px">
				{{ course.hours }} hr{{ pl(course.hours) }}
			</ons-col>
			<ons-col>
				{{ course.name }}
			</ons-col>
		</ons-list-item>
	</ons-list>

	<ons-speed-dial position="bottom right" direction="up" ripple>
		<ons-fab>
			<ons-icon icon="md-plus"></ons-icon>
		</ons-fab>
		<ons-speed-dial-item>
			<ons-icon icon="md-book" ng-click="addCourse()"></ons-icon>
		</ons-speed-dial-item>
	</ons-speed-dial>
</ons-page>