<ons-page ng-controller="DegreeCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.left.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			Degree Plans
		</div>
		<div class="right" ng-switch="saved">
			<ons-button
			 modifier="quiet red"
			 ng-switch-when="0"
			 ng-click="save()">
			 	Save &nbsp;
			 	<ons-icon
			 	 class="middle"
			 	 icon="ion-alert-circled"></ons-icon>
			 </ons-button>

			<ons-button
			 modifier="quiet gray"
			 ng-switch-when="1">
			 	Saving &nbsp;
			 	<ons-icon
			 	 class="middle"
			 	 spin
			 	 icon="ion-load-c"></ons-icon>
			 </ons-button>

			<ons-button
			 modifier="quiet"
			 ng-switch-when="2"
			 ng-click="save()">
			 	Saved &nbsp;
			 	<ons-icon
			 	 class="middle"
			 	 icon="ion-android-checkmark-circle"></ons-icon>
			 </ons-button>
		</div>
	</ons-toolbar>

	<ons-toast
	 id="degreeToast"
	 animation="fall"
	 animation-options="{duration: 0.5}">
		<center>
			Once you add a degree plan, click on it for more options
		</center>
	</ons-toast>

	<br>

	<div id="expandable">
	<ons-row style="padding: 10px;">
		<ons-col ng-repeat="degree in degrees" style="padding-right: 10px;">
			<ons-row style="margin-bottom: 10px;">
				<ons-button
				 style="text-align: center; width: 100%;"
				 modifier="bTeal"
				 ng-click="modifyDegree(degree)">
					{{ degree.name }}
				</ons-button>
			</ons-row>
			<ons-row class="small" style="margin-bottom: 10px;">
				<div ng-if="degree.notes"
				 style="height: 25px; width: 100%;">
					<center><i>{{ degree.notes }}</i></center>
				</div>
				<div ng-if="!degree.notes"
				 style="height: 25px;">
					<br>
				</div>
			</ons-row>
			<ons-row style="margin-bottom: 10px;">
				Completed: {{ degree.value }}% |
				Planned: {{ degree.planned }}% |
				Total: {{ degree.secondary }}%
				<br>
				<ons-progress-bar
					value="{{ degree.value }}"
					secondary-value="{{ degree.secondary }}"
					style="width: 100%;">
				</ons-progress-bar>
				<br>
			</ons-row>
			<ons-row ng-repeat="req in degree.reqs" style="padding-bottom: 5px;">
				<ons-list class="small" style="width: 100%;">
					<ons-list-item>
						<div class="left" style="color: {{ req.reqColor }};">
							<ons-icon icon="ion-alert-circled" ng-if="req.warning == 1">&nbsp;&nbsp;</ons-icon>
							<ons-icon icon="ion-close-round" ng-if="req.warning == 2">&nbsp;&nbsp;</ons-icon>
							{{ req.title }} : {{ req.hours }} hr{{ pl(req.hours) }}
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div ng-if="req.warning == 1">
								<i><u>Courses not scheduled</u></i>
							</div>
							<div ng-if="req.warning == 2">
								<i><u>Hours not met</u></i>
							</div>
						</div>
						<div class="right">
							<ons-button modifier="quiet" ng-click="moveUp(req.ID, degree.ID)">
								<ons-icon icon="ion-ios-arrow-thin-up">
								</ons-icon>
							</ons-button>

							<ons-button modifier="quiet" ng-click="moveDown(req.ID, degree.ID)">
								<ons-icon icon="ion-ios-arrow-thin-down"></ons-icon>
							</ons-button>

							<ons-button modifier="quiet" ng-click="editReq(req.ID, degree.ID)">
								<ons-icon icon="ion-ios-compose-outline"></ons-icon>
							</ons-button>
						</div>
					</ons-list-item>
				</ons-list>
				<ons-list modifier="inset" class="small" style="margin-top: 5px; width: 100%;">
					<ons-list-item modifier="longdivider" ng-repeat="satisfy in req.satisfy">
						{{ courseColoration(satisfy) }}
						<div class="left" ng-switch="status" style="color: {{ color }};">
							<ons-icon
								ng-switch-when="0"
								icon="ion-checkmark">
							</ons-icon>
							
							<ons-icon
								ng-switch-when="1"
								icon="ion-checkmark">
							</ons-icon>
							
							<ons-icon
								ng-switch-when="2"
								icon="ion-close">
							</ons-icon>
						</div>
						<div class="center" style="color: {{ color }};">
							{{ class.abbr }} - {{ class.name }}
						</div>
						<div class="right">
							<div ng-if="class.notes">
								<ons-button
								 modifier="quiet"
								 ng-click="showDetails(satisfy)"
								 vertical-align="top">
									<ons-icon icon="ion-ios-information-outline">
									</ons-icon>
								</ons-button>
							</div>
						</div>
					</ons-list-item>
				</ons-list>
			</ons-row>
		</ons-col>
	</ons-row>
	</div>

	<ons-speed-dial
		id="speedDial"
		position="bottom right"
		direction="up"
		ripple>
		<ons-fab>
			<ons-icon icon="md-plus"></ons-icon>
		</ons-fab>
		<ons-speed-dial-item>
			<ons-icon icon="md-book" ng-click="addCourse()"></ons-icon>
		</ons-speed-dial-item>
		<ons-speed-dial-item>
			<ons-icon icon="ion-university" ng-click="addDegree()"></ons-icon>
		</ons-speed-dial-item>
	</ons-speed-dial>
</ons-page>