<ons-page ng-controller="LoginCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button ng-click="menu.left.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			Login
		</div>
	</ons-toolbar>

	<div class="centered">
		<br>
		<p ng-if="!loggedIn">
			Attempting to login through Google...
				<br><br>
				<ons-progress-circular indeterminate>
				</ons-progress-circular>
		</p>
		<p ng-if="loggedIn">
			Login successful!
				<br><br>
				<ons-icon icon="ion-checkmark" size="40px">
				</ons-icon>
		</p>
	</div>
</ons-page>