<ons-page ng-controller="LoginCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button id="mainMenu" ng-click="menu.left.open()" disabled="true">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			Interactive Degree Audit
		</div>
	</ons-toolbar>

	<div class="centered">
		<p ng-if="signIn">
			<ons-button ng-click="manualLogin()" modifier="quiet">
				<img src="html/images/google.png"/>
			</ons-button>
		</p>
		<p ng-if="GLoggedIn">
			<br><br><br>
			<ons-icon icon="ion-checkmark" size="40px"></ons-icon>
		</p>

		<br>

		<ons-toast
			var="loginToast"
			animation="fall">
			<center>
				Click on the top-left menu button to get started!
			</center>
		</ons-toast>

	</div>
</ons-page>