<ons-page ng-controller="LoginCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button id="mainMenu" ng-click="menu.left.open()" disabled="true">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			<h2 style="margin: 0px;">Interactive Degree Audit</h2>
		</div>
	</ons-toolbar>

	<div class="centered">
		<p ng-if="signIn">
			<ons-button
			 ng-if="!isMobile()"
			 ng-click="manualLogin()"
			 modifier="quiet">
				<img src="html/images/google.png"/>
			</ons-button>
			<ons-button
			 ng-if="isMobile()"
			 ng-click="manualLogin()"
			 modifier="quiet">
				<img src="html/images/google_small.png"/>
			</ons-button>
		</p>
		<p ng-if="GLoggedIn">
			<br><br><br>
			<ons-icon icon="ion-checkmark" size="40px"></ons-icon>
		</p>
	</div>

	<ons-toast
		var="loginToast"
		animation="fall">
		<center>
		Click the top-left menu button to start!
		</center>
	</ons-toast>
</ons-page>