<ons-page>
	<ons-splitter var="menu" ng-controller="Menu" ng-init="init()">
		<ons-splitter-side side="left" width="220px" collapse>
				<ons-list ng-switch="saved">

					<!-- Title -->
					<ons-list-item>
						<i>Interactive Degree Audit</i>
					</ons-list-item>

					<!-- Save Status -->
					<ons-list-item
					 ng-switch-when="0"
					 class="red"
				 	 ng-click="save()" tappable>
				 		<ons-icon icon="ion-alert-circled"></ons-icon>
				 		&nbsp;&nbsp;&nbsp;&nbsp;
						Save Changes
					</ons-list-item>
					<ons-list-item
					 ng-switch-when="1"
					 class="gray">
					 	<ons-icon spin icon="ion-load-c"></ons-icon>
				 		&nbsp;&nbsp;&nbsp;&nbsp;
						Saving...
					</ons-list-item>
					<ons-list-item
					 ng-switch-when="2"
					 class="green">
						<ons-icon icon="ion-android-checkmark-circle"></ons-icon>
				 		&nbsp;&nbsp;&nbsp;&nbsp;
						Saved
					</ons-list-item>

					<!-- Spacer -->
					<ons-list-item></ons-list-item>

					<!-- Degree Listing -->
					<ons-list-item
					 ng-click="load('html/degrees.html')" tappable>
					 	<ons-icon icon="ion-university"></ons-icon>
					 	&nbsp;&nbsp;&nbsp;&nbsp;
						Degree Plans
					</ons-list-item>

					<!-- Semester Listing -->
					<ons-list-item
					 ng-click="load('html/semesters.html')" tappable>
					 	<ons-icon icon="ion-calendar"></ons-icon>
					 	&nbsp;&nbsp;&nbsp;&nbsp;
						Master Plan
					</ons-list-item>

					<!-- Course Listing -->
					<ons-list-item
					 ng-click="load('html/courses.html')" tappable>
					 	<ons-icon icon="ion-ios-bookmarks"></ons-icon>
					 	&nbsp;&nbsp;&nbsp;&nbsp;
						All Classes
					</ons-list-item>

					<!-- Spacer -->
					<ons-list-item></ons-list-item>

					<!-- Help Page -->
					<ons-list-item
					 ng-click="load('html/help.html')" tappable>
					 	<ons-icon icon="ion-help-buoy"></ons-icon>
					 	&nbsp;&nbsp;&nbsp;&nbsp;
						Help
					</ons-list-item>

					<!-- Share Profile -->
					<ons-list-item
					 ng-click="load('html/share.html')" tappable>
					 	<ons-icon icon="ion-share"></ons-icon>
					 	&nbsp;&nbsp;&nbsp;&nbsp;
						Share
					</ons-list-item>

					<!-- Settings Page -->
					<ons-list-item
					 ng-if="owned"
					 ng-click="load('html/settings.html')" tappable>
					 	<ons-icon icon="ion-settings"></ons-icon>
					 	&nbsp;&nbsp;&nbsp;&nbsp;
						Settings
					</ons-list-item>
				</ons-list>		
		</ons-splitter-side>
		<ons-splitter-content page="html/login.html"></ons-splitter-content>
	</ons-splitter>
</ons-page>