<ons-page ng-controller="SettingsCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button id="mainMenu" ng-click="menu.left.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			<h2 style="margin: 0px;">Settings</h2>
		</div>
	</ons-toolbar>

	<div class="centered">
		<br>

		<p>
			<ons-button modifier="bRed" id="delButton" ng-click="delete()">
				Delete Profile
			</ons-button>

			<br>

			<i class="small">
				You will be redirected to the homepage for a new profile after destruction
			</i>
		</p>

		<br>

		<p>
			<ons-button modifier="bOrange" ng-click="logout()">
				Logout
			</ons-button>

			<br>

			<i class="small">
				You will be redirected to the homepage after logging out
			</i>
		</p>
	</div>
</ons-page>