<ons-page ng-controller="ShareCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button id="mainMenu" ng-click="menu.left.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			<h2 style="margin: 0px;">Share Profile</h2>
		</div>
	</ons-toolbar>

	<ons-toast
	 id="shareToast"
	 animation="fall"
	 animation-options="{duration: 0.5}">
		<center>
			Link copied!
		</center>
	</ons-toast>

	<br><br>

	<div ng-switch="public" style="text-align: center;">
		<div ng-switch-when="true">
			<ons-button
			 id="shareButton"
			 modifier="bOrange"
			 ng-click="makePrivate()">
				Make Private
			</ons-button>

			<br><br>

			<b>Share the following link with friends!</b>

			<br><br>

			<ons-input
				id="shareInput"
				type="text"
				readonly="readonly"
				modifier="underbar"
				value="{{ shareId }}"></ons-input>

			<br><br>

			<ons-button modifier="bTeal" ng-click="copy()">
				Copy Link
			</ons-button>
		</div>
		<div ng-switch-when="false">
			<ons-button ng-click="makePublic()">
				Make Public
			</ons-button>
		</div>
	</div>
</ons-page>