<ons-page ng-controller="ShareCtrl" ng-init="init()">
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button id="mainMenu" ng-click="menu.left.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
		</div>
		<div class="center">
			Share Profile
		</div>
	</ons-toolbar>

	<br><br>

	<div ng-switch="public" style="text-align: center;">
		<div ng-switch-when="true">
			<ons-button ng-click="makePrivate()">
				Make Private
			</ons-button>

			<br><br>

			<b>Share the following link with friends!</b>

			<br><br>

			<ons-input
				type="text"
				readonly="readonly"
				modifier="underbar"
				value="{{ shareId }}"></ons-input>
		</div>
		<div ng-switch-when="false">
			<ons-button ng-click="makePublic()">
				Make Public
			</ons-button>
		</div>
	</div>
</ons-page>